<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans'
		rel='stylesheet' type='text/css'>
	<title><% title %></title>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript">
			$(function(){
				$('#volume_slider').slider({
					min: 0,
					max: 255,
					value: <% volume %>,
					stop: function(event, ui) {
						$.post("/vol",
							{vol:$('#volume_slider').slider('value')});
					}
				});
			});
		</script>
</head>
<body>

<% IF current_station_name %>
<div id="container">
	Now Playing: <% current_station_name %>
</div><br><br>
<% END %>


<div id="container">
	<form name="volume" action="/vol" method="post">
	Volume<br>
	<div style="margin-top:10px;font-size:30%" id="volume_slider"></div>
	</form>
</div>
<br><br>

<% IF playing %>
<div id="container">
	<a href="/stop">Stop</a>
</div>
<% END %>

<div id="container">
<a href="/add">Add a station...</a>
</div>
<br><br>

<div id="container">
<table>
<% FOREACH row IN stations %>
	<tr>
	<td><a href="play/<% row.rowid %>" title="<% row.genre %>"><% row.name %></a></td>
	<td><a href="edit/<% row.rowid %>"><span style="font-size:small">edit</span></td>
	</tr>
<% END %>
</table>
</div>

</body>
</html>
