body {
background-image: url("/images/background.png");
text-align:center;
font-family:"Josefin Sans", "Bitstream Vera Sans", "Verdana";
font-size: 64px;
color: #BBB;
}

a  {
	display:block;
	color: #BBB;
	padding:11px;
	text-decoration: none;
	border-radius: 15px;
}

a:hover {
	border:	1px double #AAA;
	border-radius: 15px;
	display:block;
	padding:10px;
	background-color: rgba(0,0,0,0.35);
	color: lightgrey;
/*text-decoration: underline;*/
}

table {
	margin-left: auto;
	margin-right: auto;
}

#container 
{
	border-radius: 15px;
	margin-left:	auto;
	margin-right:	auto;	
	display: inline-block;
	text-align: center;
	background-color: rgba(96,96,96,0.35);
	padding:	20px 30px 20px 30px;
	border:	1px double #AAA;
}
