body {
background-image: url("/images/background.png");
text-align:center;
font-family:"Josefin Sans", "Bitstream Vera Sans", "Verdana";
font-size: 64px;
color: #BBB;
}

a  {color: #BBB}
a:hover {
color: lightgrey;
text-decoration: none;
}

table {
	margin-left: auto;
	margin-right: auto;
}

#container 
{
	border-radius: 15px;
	margin-left:	auto;
	margin-right:	auto;	
	display: inline-block;
	text-align: center;
	background-color: rgba(96,96,96,0.35);
	padding:	20px 30px 20px 30px;
	border:	1px double #AAA;
}
